body {
    background-color: #131313;
}

.meme {
	background: #333333;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	border: 1px solid #636363;
	border-radius: 4px;
}

.meemid {
    max-width: 700px;
    margin: 0 auto;
}