body {
	height: 100%;
	margin: 0;
	background-color: #161616;
	color: #DDD;
	font-family: Helvetica;
	text-decoration: none;
}

h1 {
    color: #DDD;
}

h2 {
    color: #DDD;
}

h3 {
    color: #DDD;
}

h4 {
    color: #DDD;
}

.meme {
	background: #333333;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	border: 1px solid #636363;
	border-radius: 4px;
}

.meme > a {
	text-decoration: none;
}

.text {
	color: #DDD;
	text-decoration: none;
}

.logintext {
	color: #DDD;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
}

.meemid {
    max-width: 700px;
    margin: 0 auto;
}

.meemilaadimine{
	max-width: 700px;
	margin-left: 700px;
}

.navbar-inverse {

    background-color: #333333;

}
.navbar-inverse {

    background-color: #222;
    border-color: #080808;

}
.navbar-fixed-top {

    top: 0;
    border-width: 0 0 1px;

}
.navbar-fixed-top, .navbar-fixed-bottom {

    border-radius: 0;

}
.navbar-fixed-top, .navbar-fixed-bottom {

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

}
.navbar {

    border-radius: 4px;

}
.navbar {

    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
}
.container {
    width: 1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	margin-top: 13px;
}

.float-left {
    float: left;
	margin-top: -13px;
}

.float-right {
	float: right;
}

.float-middle {
	margin-left: 182px;
	text-align: center;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.imgmeme{
    width: relative;
    max-width:600px;
	width: 100%;
}

.form {
	margin-bottom: 5px;
	border-radius: 5px;
}

.button {
	margin-bottom: 5px;
	border-radius: 5px;
}

.title {
	color: #DDD;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 15px;
	display: block;
}

.scores > .upvote {
    border: 1px solid #636363;
    border-radius: 4px;
    font-size: 24px;
    margin-top: 15px;
    background: #333;
	padding: 12px 15px;
	transition: all 0.25s ease;
	color: #999;
}

.scores > button {
	padding: 12px 15px;
	transition: all 0.25s ease;
	color: #999;
}

.scores > button:hover {
    color: #FFF;
}

.scores > .downvote {
    border: 1px solid #636363;
    border-radius: 4px;
    font-size: 24px;
    margin-top: 15px;
    background: #333;
}

.meme-view {
    text-align: center;
    padding: 20px;
	width: relative;
    max-width:600px;
	width: 100%;
}

.meme-pic {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

